@page
@model RSSReader.Pages.AboutModel
@{
    ViewData["Title"] = "О сервисе";
}

<div class="container">
    <style>
        p {line-height: 1.5;}
    </style>
    <h1>О сервисе RSSReader</h1>
    <p>Если вы на этой странице, то наверное вы хотиту побольше узныть о нашем  сервисе RSSReader, поэтому 
        для начала предлогаю узнать, что же такое технология RSS и с чем её едят.</p>
    <p>
        <h4>Что такое RSS? Простыми словами</h4>
        RSS – это способ удобно следить за новостями, блогами и другими сайтами в одном месте. Представьте, что вместо того чтобы ходить по всем магазинам в поисках новинок,
        вы подписываетесь на их каталоги – и все акции и новинки приходят к вам в одну папку.

    <p><h5>Как это работает?</h5></p>
    <ul> 
            <li>
                Сайты (например, новостные порталы или блоги)
                создают RSS-ленту – специальный файл со своими обновлениями.
            </li> 
            <li>
                Вы подписываетесь на эти ленты через RSS-ридер (специальную программу или сайт).
            </li> 
            <li>
                Вместо того чтобы заходить на каждый сайт отдельно,
                вы видите все свежие статьи в одном окне.
            </li>
        </ul>

    <p>
        <b>RSS-ридер</b> – это как личный почтальон, который приносит только те новости, которые вы хотите видеть.
    </p>
        

        
    </p>
</div>
